<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://sandbox-quickbooks.api.intuit.com/v3" qbo="https://sandbox-quickbooks.api.intuit.com/v3" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/IdsLogs" />
      </logger>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprduXXA3y2dWDLklvkoxJJiyaxMkbd9JeSN2530sm8FrAR" />
    <add key="AccessTokenSecret" value="7oOaYDZm6s8vgndUpnBJsOHNBVowwnJHanQs5k9T" />
    <add key="ConsumerKey" value="qyprdZZbLkpGk5JiEaS6xsrsbXj6vA" />
    <add key="ConsumerSecret" value="qQHAipGqQ33u1VQzFBO0FTANTvjwnY6cxaN3qeF6" />
    <add key="RealmID" value="1422926420" />
  </appSettings>
</configuration>